html,
body {
    margin: 0;
    background: #000;
}

body {
    font-family: 'EDU TAS Beginner', sans-serif;
    font-size: 1.5rem;
    color: #fff;

    width: 100%;
    height: 800vh;
}

body.no-scroll {
    overflow: hidden;
}

img {
    display: block;
}

#top {
    position: fixed;
    height: 100vh;
    width: 100%;
    overflow: hidden;

    z-index: 99;
}

#top-banner {
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: 35% bottom;
}

#tagline {
    margin: 0;
    font-family: 'EDU TAS Beginner', sans-serif;
    font-weight: 500;
    font-size: 7rem;
    width: 100%;
    z-index: 1;

    padding: 0 1rem;
    box-sizing: border-box;

    color: #fff;

    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    text-align: center;

    text-shadow: 0 0 3rem #3939b0;

    letter-spacing: -0.06em;
}

#scroll-prompt {
    position: absolute;
    bottom: 2.5%;
    left: 50%;
    transform-origin: center center;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    animation: scroll-prompt 3s ease-in-out infinite;
}

@keyframes scroll-prompt {
    0% {
        scale: 1;
    }
    50% {
        scale: 1;
    }
    100% {
        scale: 1;
    }
}

#scroll-prompt-text {
    font-size: 3rem;
}

#scroll-prompt-arrow {
    width: 5rem;
    margin-top: -0.3rem;
}

.star {
    position: absolute;
    width: 1px;
    height: 1px;
    background: #fff;
    border-radius: 5px;
}

#mid {
    display: none;

    position: fixed;

    /* top: 50%; */
    left: 50%;
    transform: translateX(-50%);

    width: 80vmin;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
}

#mid-lens {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 101%;
    height: 101%;
    background: radial-gradient(#0000 50%, #000f 70%); */
    width: 102%;
    height: 100%;
    background: linear-gradient(
        to right,
        #000f 3%,
        #0000 15%,
        #0000 85%,
        #000f 97%
    );
}

#mid-banner-container {
    position: absolute;
    top: 0%;

    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

#mid-banner {
    width: 100%;
}

#mid-rabbit1 {
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    filter: drop-shadow(0 0 3rem #3939b055) brightness(1.3);

    z-index: 12;

    opacity: 0;
}

#mid-rabbit2 {
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    filter: drop-shadow(0 0 3rem #5f39b055) brightness(1.3);

    z-index: 12;
}

#mid-rabbit3 {
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    filter: drop-shadow(0 0 3rem #ff90c855) brightness(1.3);

    z-index: 12;

    opacity: 0;
}

.mid-words {
    position: absolute;
    z-index: 11;
    top: 0%;

    font-family: 'EDU TAS Beginner', sans-serif;
    font-size: 3rem;
    font-weight: 500;

    filter: drop-shadow(0 0 0.5rem #ff90c891);
}

.mid-words-large {
    font-size: 5rem;
}

#mid-words-1 {
    top: 9%;
    left: 10%;
    rotate: -8deg;
}

#mid-words-2 {
    top: 15.5%;
    right: 10%;
    rotate: 8deg;
}

#mid-words-3 {
    top: 23%;
    left: 10%;
    rotate: -8deg;
}

#mid-words-4 {
    top: 30%;
    right: 10%;
    rotate: 8deg;
}

#mid-words-5 {
    left: 50%;
    transform: translate(-50%, -50%);
    top: 42%;
}

#mid-words-6 {
    top: 52%;
    left: 10%;
    rotate: -8deg;
}

#mid-words-7 {
    top: 57%;
    right: 10%;
    rotate: 8deg;
}

#mid-words-8 {
    top: 62%;
    left: 10%;
    rotate: -8deg;
}

#mid-words-9 {
    top: 67%;
    right: 10%;
    rotate: 8deg;
}

#mid-words-10 {
    top: 72%;
    left: 10%;
    rotate: -8deg;
}

/* #mid-words-11 {
    top: 77%;
    right: 10%;
    rotate: 8deg;
} */

/* #mid-words-12 {
    top: 82%;
    left: 10%;
    rotate: -8deg;
} */

#mid-words-11 {
    left: 50%;
    transform: translate(-50%, -50%);
    top: 80%;
    width: 100%;
    text-align: center;
}

#mid-words-12 {
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    font-weight: 500;
}

#bot {
    position: fixed;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#bot-banner {
    position: absolute;
    height: 100%;
    width: 100%;

    object-fit: cover;
    object-position: 50% 70%;
}

/* #bot-wrapper {
    position: absolute;
    top: 0;
    right: 0%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

#bot-crates-container {
    position: absolute;
    top: 61%;
    right: 50%;
}

#bot-button {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    height: 40vh;
}

#bot-crates {
    height: 40vh;

    transition: scale 0.2s ease-in-out;
}

#bot-crates-button {
    cursor: pointer;
    pointer-events: auto;

    position: absolute;
    top: 0%;
    left: 18%;
    width: 64%;
    height: 55%;

    z-index: 5;
}

#bot-crates-button:hover ~ #bot-crates {
    scale: 1.03;
}

#bot-crates-prompt {
    position: absolute;
    top: -20%;
    right: 30%;
    z-index: 20;

    height: 10vh;
    width: 10vh;

    pointer-events: none;

    filter: drop-shadow(0 0 0.7rem rgba(77, 28, 0, 0.667));
}

#bot-crates-prompt span {
    font-size: 2.2rem;
    font-weight: 500;
    white-space: nowrap;
    position: absolute;
    color: #402819;
    top: -23%;
    left: 32%;
}

#bot-crates-prompt svg {
    height: 10vh;
    rotate: 51deg;
}

#bot-rabbit {
    position: absolute;
    top: -18%;
    left: 33%;
    height: 34%;

    z-index: 6;

    transform-origin: bottom center;
}

#bot-rabbit-particles {
    position: absolute;
    top: -18%;
    left: 39%;
    height: 34%;
    width: 2rem;
    z-index: 5;
    transform: translateX(-50%);
}

#bot-rabbit-particles .rabbit-particle {
    position: absolute;
    background-color: #61b6ec;
    filter: drop-shadow(0 0 0.7rem rgb(255, 255, 255));

    top: 40%;
    left: 50%;
}

#bot-tree-container {
    position: absolute;
    top: 0;
    right: 0%;

    pointer-events: none;

    z-index: 10;

    scale: 1.15;
    transform-origin: center right;
}

#bot-tree {
    height: 95vh;
}

#bot-where-prompt {
    position: absolute;
    top: 40%;
    right: 38%;
    z-index: 20;

    height: 10vh;
    width: 10vh;

    pointer-events: none;

    filter: drop-shadow(0 0 0.7rem rgba(77, 28, 0, 0.667));
}

#bot-where-prompt span {
    font-size: 2.2rem;
    font-weight: 500;
    white-space: nowrap;
    position: absolute;
    color: #402819;
    top: 64%;
    left: -56%;
}

#bot-where-prompt svg {
    height: 10vh;
    rotate: -119deg;
}

#bot-welcome {
    position: absolute;
    top: 23.5%;
    left: 54%;
    height: 5.5%;
}

#bot-wordmark {
    position: absolute;
    top: 27%;
    left: 45%;
    height: 9.5%;
}

#bot-boston {
    position: absolute;
    top: 36%;
    left: 45%;
    height: 3.5%;
}

#bot-date {
    position: absolute;
    top: 36%;
    left: 70%;
    height: 3.5%;
}

#bot-where {
    position: absolute;
    top: 44%;
    left: 65%;
    rotate: 1deg;
    height: 4%;
}

#bot-travel {
    position: absolute;
    top: 52%;
    left: 77%;
    height: 4%;
}

#bot-questions {
    position: absolute;
    top: 60%;
    left: 71.4%;
    rotate: 2.5deg;
    height: 4%;
}

#bot-register {
    position: absolute;
    top: 66.5%;
    left: 61%;
    rotate: 6deg;
    height: 5%;
}

#bot-flag {
    position: absolute;
    top: 77.8%;
    left: 63%;
    rotate: 6deg;
    height: 3%;
    filter: brightness(0.7);
    transform-origin: bottom left;
}

.bot-button {
    cursor: pointer;
    transition: scale 0.2s ease-in-out;
    pointer-events: auto;
}

.bot-button:hover {
    scale: 1.1;
}

#pinwheel {
    position: absolute;
    bottom: 8%;
    right: 11%;
    height: 14vh;
    width: 8vh;
}

#pinwheel-head {
    position: absolute;
    height: 8vh;
    filter: brightness(0.8);
}

#pinwheel-base {
    position: absolute;
    top: 3vh;
    left: 50%;
    transform: translate(-50%, 0);
    height: 10vh;
}

.hidden {
    display: none !important;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    background: #000000aa;

    z-index: 200;
}

.modal {
    position: fixed;
    width: 80%;
    max-width: 60rem;
    height: 80vh;

    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;

    background: #3f201c;

    border-radius: 0.5rem;

    z-index: 210;

    padding: 3.5rem;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-header-close {
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    font-family: 'Vollkorn', serif;
    transform: scaleX(1.3);
}

.modal-header-text {
    margin: 0;
    font-weight: 700;
    font-size: 3rem;
    font-family: 'Vollkorn', serif;
}

.modal-contents {
    width: 100%;
    padding: 1rem 0;
    box-sizing: border-box;
    font-size: 1.8rem;
    /* font-family: 'Vollkorn', serif; */
    font-weight: 400;
    height: 100%;
    overflow-y: scroll;

    /* https://lea.verou.me/blog/2012/04/background-attachment-local/ */
    background:
    /* Shadow covers */ linear-gradient(
            #3f201c 30%,
            rgba(255, 255, 255, 0)
        ),
        linear-gradient(rgba(255, 255, 255, 0), #3f201c 70%) 0 100%,
        /* Shadows */
            radial-gradient(
                50% 0,
                farthest-side,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0)
            ),
        radial-gradient(
                50% 100%,
                farthest-side,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0)
            )
            0 100%;
    background:
    /* Shadow covers */ linear-gradient(
            #3f201c 30%,
            rgba(255, 255, 255, 0)
        ),
        linear-gradient(rgba(255, 255, 255, 0), #3f201c 70%) 0 100%,
        /* Shadows */
            radial-gradient(
                farthest-side at 50% 0,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0)
            ),
        radial-gradient(
                farthest-side at 50% 100%,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0)
            )
            0 100%;
    background-repeat: no-repeat;
    background-color: #3f201c;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

    /* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;
}

.modal-contents h2 {
    font-family: 'Vollkorn', serif;
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.modal-contents * + h2 {
    margin-top: 2rem;
}

.modal-contents p {
    margin: 0;
}

.modal-contents p + p {
    margin-top: 1.5rem;
}

.modal-contents a {
    color: #ffb6e6;
}

#slots {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 3rem 0;
    margin-bottom: 4rem;
}

.slot {
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
    position: relative;
    cursor: pointer;
    transition: scale 0.2s ease-in-out;
    background: #955c56;
}

.slot:hover {
    scale: 1.05;
}

.slot img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(0 0 0.7rem #ffffff63);
}

.slot-plus {
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    font-family: 'Vollkorn', serif;
}

.slot-hidden {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #955c56;

    border-radius: 1rem;
}

.slot-hidden span {
    font-size: 4rem;
    transform: translateY(0.3rem);
    font-weight: 700;
    color: #fff;
    font-family: 'Vollkorn', serif;
}

#slots-tooltip {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -2.5rem;
    font-size: 1.5rem;
    font-family: 'EDU TAS Beginner', sans-serif;
    color: #fff;
}

.slot-desc {
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    /* font-family: 'Vollkorn', serif; */
    opacity: 0;
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translate(-50%, 100%);
    width: 100%;
    text-align: center;
}

#slot-what {
    position: relative;
}

#slot-refresh {
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: scale 0.2s ease-in-out;
    background: #965d57;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
}

#questions-modal details {
    cursor: pointer;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

#questions-modal details summary {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Vollkorn', serif;
}

#questions-modal details[open] summary {
    margin-bottom: 0.3rem;
}

@media screen and (max-width: 850px) {
    #tagline {
        font-size: 5rem;
    }

    #bot-tree-container {
        right: -6vh;
        scale: 1;
    }

    #bot-crates-container {
        right: 27%;
    }

    #bot-where-prompt span {
        font-size: 1.6rem;
    }

    #bot-crates-prompt span {
        font-size: 1.6rem;
    }

    .mid-words {
        font-size: 1.5rem;
    }

    .mid-words-large {
        font-size: 3rem;
    }

    .modal {
        width: 100%;
        height: 100%;
        padding: 2.5rem;
    }

    .modal-header-text {
        font-size: 2rem;
    }

    .modal-contents h2 {
        font-size: 1.5rem;
    }

    #slots {
        gap: 0.8rem;
    }

    .slot {
        width: 6rem;
        height: 6rem;
    }

    .slot-plus {
        font-size: 3rem;
    }

    .slot-hidden span {
        font-size: 3rem;
    }

    .slot-desc {
        font-size: 1rem;
    }
}
